.input--field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;

  label {
    font-size: 0.875rem;
    font-weight: 600;
    color: $black-foreground-01;
    margin-left: 8px;
  }

  input,
  textarea {
    padding: 8px 12px;
    border: 1px solid $black-10;
    border-radius: 8px;
  }
}
