.task--cont {
  margin-left: 320px;
  padding: 40px;

  h5 {
    margin-bottom: 1rem;
  }

  .filters--cont {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;

    .sort-order {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .sort {
      display: flex;
      flex-direction: column;

      .select--cont {
        position: relative;
        display: inline-block;
        width: 160px;

        select {
          font-family: "Arial";
          display: inline-block;
          width: 100%;
          cursor: pointer;
          padding: 12px 16px;
          outline: 0;
          border: 1px solid $black-10;
          border-radius: 8px;
          background: $white-background-01;
          color: $black-foreground-01;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;

          transition: filter 0.3s ease-in-out;
        }

        select::-ms-expand {
          display: none;
        }

        select:hover,
        select:focus {
          filter: brightness(0.95);
        }

        select:disabled {
          opacity: 0.5;
          pointer-events: none;
        }

        .select_arrow {
          position: absolute;
          top: 19px;
          right: 16px;
          pointer-events: none;
          border-style: solid;
          border-width: 8px 5px 0px 5px;
          border-color: $black-50 transparent transparent transparent;
          transition: all 0.3s ease-in-out;
        }

        select:hover ~ .select_arrow,
        select:focus ~ .select_arrow {
          border-top-color: $black-foreground-01;
        }

        select:disabled ~ .select_arrow {
          border-top-color: $black-10;
        }
      }
    }

    .order {
      position: relative;
      height: 50px;
      width: 50px;
      background-color: $white-background-01;
      border: 1px solid $black-10;
      border-radius: 8px;
      transition: filter 0.3s ease-in-out;

      &:hover {
        filter: brightness(0.95);
      }

      .btn--order {
        padding: 12px;
        // background-color: $white-background-01;
      }
    }
  }

  .message {
    font-weight: 600;
    color: $black-50;
  }
}
