$orange-dark: #f4512c;
$orange-light: #fe7e4d;
$purple-dark: #5e1b88;
$purple-light: #9d70bb;
$green-dark: #189638;
$green-light: #4bb543;
$white-background-01: #ffffff;
$white-background-02: #f5f5f5;
$black-foreground-01: #000000e5;
$black-50: #0000007f;
$black-10: #00000019;

$ff-dm-sans: "DM Sans", sans-serif;
$ff-roboto-slab: "Roboto Slab", serif;
$ff-lato: "Lato", sans-serif;
